
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.content {
  max-width: 1220px;
  margin: 0 auto;
}
body {
  height: 100vh;
  background-color: #e1cac0;
}
.main-bg {
  padding: 20px;
  height: max-content;
}

.main {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));

  gap: 20px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 20px;
  font-size: 30px;
  font-size: 20px;
}

.main-content h1,
.main-content p {
  padding-bottom: 20px;
}

.btn_resumo {
  background-color: #f083e7;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s all;
  width: max-content;
}

.btn_resumo:hover {
  display: inline-block;
  background-color: #c941bd;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -8px rgba(0, 0, 0, 0.5);

}

/* Bandeira do CANADÃ by InfoDevEstudent - Sergio Felipe */
.wrapper{
  height: 400px;
  width: 390px;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
}
.wrapper .card{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  transform: translateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  box-shadow: 0px 10px 15px rgb(0, 0, 0,0.1);
  transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
}
.front-face .title-front-face{
  text-align: center;
  /* padding: 10px; */
  margin: 0;
  font-size: 30px;
  font-family: Helvetica;
}
.front-face p{
  text-align: justify;
  padding: 0px 10px;
  margin: 0;
  font-family: Helvetica;
}
.wrapper:hover > .front-face{
  transform: rotateY(-180deg);
}
.wrapper .card img{
  /* height: 100%; */
  width: 100%;
  /* flex: 1; */
  object-fit: cover;
  border-radius: 10px;
}
.wrapper .back-face{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: rotateX(180deg);
}
.wrapper:hover > .back-face{
  transform: rotateY(0deg);
}
.wrapper .back-face img{
  height: 250px;
  width: 250px;
  object-fit: cover;
  padding: 5px;
  border-radius: 50%;
  background: linear-gradient(375deg, #1cc7d0, #2ede98);
}
.wrapper .back-face .info{
  text-align: center;
}
.back-face .info .title{
  font-size: 30px;
  font-weight: 500;
  font-family: Helvetica;
}
.back-face .info p{
  font-size: 1.3rem;
  font-family: Helvetica;
}